<h1><%= @employee.first_name %></font></h3>
<h1><%= @employee.middle_name %></font></h3>
<h2><%= @employee.last_name %></font></h3>
<h3><%= @employee.job_title %></font></h3>
<h3><%= @employee.phone_number %></font></h3>
<%= link_to "Home", "/employees" %>